# Python | day 2 | collections

List, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp
    
    Thanks Antonio!

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 
    - 4 differents lists containing the names of the classmates sitting on each table of the class plus the ones following the class on remote.  
    
If you're not in class anymore and you don't remember how the class was distributed, use the names of your classmates and make 4 different lists with them.

Print both created lists.

In [167]:
class_list = ['Alejandro Balseiro','María Cagigas','Kapil Dadlani','Daniel del Valle','María del Mar Delgado Domínguez','Estela Falgas','Alfonso Garcia Mateo-Sagasta','Javier Gil Antuñano Foncillas','Juan Guerrero Enriquez','Antonio Leal','Miguel Merry del Val','Miguel','Marta Miñana','Roberto Molleda','Javier Olcoz','Ariadna Puigventos','Maria Angeles Rodriguez','Leonardo Sánchez Soler','anais villegas']
M = len(class_list)/4
M = int(M)
mesa1 = class_list[0:M]
mesa2 = class_list[M:2*M+1]
mesa3 = class_list[2*M+1:3*M+1]
mesa4 = class_list[3*M+1:-1]
print("Mesa 1:\n",mesa1,"\n Mesa 2:\n",mesa2,"\n Mesa 3:\n",mesa3,"\n Mesa 4:\n",mesa4)

Mesa 1:
 ['Alejandro Balseiro', 'María Cagigas', 'Kapil Dadlani', 'Daniel del Valle']
 Mesa 2:
 ['María del Mar Delgado Domínguez', 'Estela Falgas', 'Alfonso Garcia Mateo-Sagasta', 'Javier Gil Antuñano Foncillas', 'Juan Guerrero Enriquez']
 Mesa 3:
 ['Antonio Leal', 'Miguel Merry del Val', 'Miguel', 'Marta Miñana']
 Mesa 4:
 ['Roberto Molleda', 'Javier Olcoz', 'Ariadna Puigventos', 'Maria Angeles Rodriguez', 'Leonardo Sánchez Soler']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [168]:
empty_list = []

In [169]:
#2. Create a list with 5 items, call it **my_list**

In [170]:
my_list = ["Alejandro",32,175,"España",3.19]

3. Find the length of **my_list**

In [171]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

Alejandro 175 3.19

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [172]:
name = my_list[0]
age = my_list[1]
height = my_list[2]
country = my_list[3]
python_version = my_list[-1]

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [173]:
mixed_data_types = my_list

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [174]:
it_companies = ["Facebok","google","microsoft","apple","IBM","Oracle","Amazon"]


8. Print **it_companies** using print()

In [175]:
print(it_companies)

['Facebok', 'google', 'microsoft', 'apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [176]:
print(len(it_companies))

7

11. Print *Google*

In [177]:
print("Google") #Esta es de broma ;)
print(it_companies[1])

Google
google

10. Print the first, middle and last company

In [178]:
print(it_companies[0],it_companies[int(len(it_companies)/2)+len(it_companies)%2-1],it_companies[-1])

Facebok apple Amazon

11. Assign a new value to the last element of the list

In [179]:
it_companies[-1] = "The Bridge"
it_companies

['Facebok', 'google', 'microsoft', 'apple', 'IBM', 'Oracle', 'The Bridge']

12. Print the list after modifying one of the companies

In [180]:
print(it_companies)

['Facebok', 'google', 'microsoft', 'apple', 'IBM', 'Oracle', 'The Bridge']

## Bonus track.

13. Add an IT company to **it_companies**

In [181]:
it_companies.insert(-1,"Amazon")
print(it_companies)

['Facebok', 'google', 'microsoft', 'apple', 'IBM', 'Oracle', 'Amazon', 'The Bridge']

14. Check if *Apple* exists in the **it_companies** list.

In [182]:
if  it_companies.count("apple")==1:
    print("Existe Apple en la lista")
else:
    print("No existe Apple en la lista")

Existe Apple en la lista

15. Sort the list using `sort()` method

In [183]:
it_companies.sort()

16. Reverse the list in descending order using `reverse()` method

In [184]:
it_companies.reverse()

17. Slice out the first 3 companies from the list

In [185]:
it_companies.pop(0)
it_companies.pop(1)
it_companies.pop(2)

'Oracle'

18. Remove the last IT company from the list

In [186]:
it_companies.pop(-1)

'Amazon'

19. Remove all IT companies from the list

In [187]:
it_companies.clear()

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [188]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
end = front_end + back_end

21. From the **end** list print 'HTML'

In [189]:
print(end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [190]:
print(end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [191]:
tup =("T",)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [192]:
type(tup)

tuple

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [193]:
tup = tup + ("H", "E", " ", "B", "R", "I", "D", "G", "E")

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [194]:
#Le doy la vuelta al TUP, para que se vea que son manipulables si los convertimos a list

tup = list(tup)
tup.reverse()
tup
tup = tuple(tup)

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [195]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [196]:
lista_repes.sort()
my_set=set(lista_repes)
print(my_set)

{'gabriel', 'diomedes', 'clara', 'science', 'python', 'data'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [197]:
my_set[0]

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [166]:

my_set = list(my_set)
print(my_set[0])

gabriel