# Python | day 4 | for loop, functions (feat. basics & if/else)

### Exercise 0.1 - Python Basics

1. What do we use to make a line break in a print? And for a tab stop?

have a look ---> http://elclubdelautodidacta.es/wp/2012/04/python-capitulo-31-exprimiendo-la-funcion-print/

In [ ]:
#usamos \n para hacer salto de linea y \t para tabulador

2. Make a converter from dollars to euros. You'll have to use input.

In [3]:
USD = float(input("Introduzca sus dolares:"))
cambio = 0.84

print("Ud. tiene:\t", USD*cambio,"EUR")

Ud. tiene:	 47.04 EUR

3. Declare two strings, one will be your first name and the other your last name. Declare your age in another variable. Print a sentence which include those variables, using ```f{}```. Wtf is that? check this out **-->** https://realpython.com/python-string-formatting/

In [5]:
nombre = "Alex"
apellido = "Balseiro"
age = 32

print("¡Hola! Me llamo {nombre} {apellido}, y tengo {age} años".format(nombre=nombre,apellido=apellido,age=age))

¡Hola! Me llamo Alex Balseiro, y tengo 32 años

4. Given the list `[4,7, -3]`, calculate its maximum, minimum and sum.

In [7]:
num = [4,7, -3]

print("Los números a tratar son:\t\n",num,"\n -------- \nEl máximo es:\t",max(num),"\nEl mínimo es:\t",min(num),"\nLa suma es:\t",sum(num))

Los números a tratar son:
 [4, 7, -3]
 --------
El máximo es:	 7
El mínimo es:	 -3
La suma es:	 8

5. Round `38.38276252728` to 5 decimal places.

In [8]:
print(round(38.38276252728,5))

38.38276

6. Make the phrase `"Born to be wild"` uppercase, then lowercase, divide it by spaces, and finally, replace `"wild"` with `"Geek."`

In [10]:
phrase = "Born to be wild"
print(phrase.upper())
print(phrase.lower())
print(phrase.split())
print(phrase.replace("wild","Geek"))

BORN TO BE WILD
born to be wild
['Born', 'to', 'be', 'wild']
Born to be Geek

7. Create a program where two inputs are collected, and the output of the program is a boolean which tell the user whether those inputs are the same or not.

In [ ]:
a = int(input("Enter A:"))
b = int(input("Enter B:"))

if a > b:
    print("A is greater than B")
elif a < b:
    print("B is greater than A")
else:
    print("A and B are the same number")

### Exercise 0.2 - If/else

1. Create a decission tree using if/else sentences, to determine the price of the movies ticket. If the client's age is between 5 and 15 years, both included, the price will be 5, if she/he is retired and the movie is one of the `peliculas_discount`, the price is 4. In any other case, it will be 7 euros.

You should create the list of `peliculas_discount` with your favourites movies.

In [22]:
age = int(input("¿cuantos años tiene?"))
peliculas_discount = ["El imperio contraataca", "El club de las primeras esposas","Alien","Expediente Warren","La purga","La chica danesa","Indiana Jones"] #voy a parar que me lío yo solo...

precio = 7

if age >= 5 and age<= 15:
    precio = 5
elif age >= 60:
    print("¿Que película quiere ver?\n", peliculas_discount) #lease con voz metalizada de taquillero de cine
    pelicula = input()
    for i in peliculas_discount:
        if pelicula == i:
            precio = 4
            break

print("La entrada cuesta {precio} €".format(precio=precio))

¿Que película quiere ver?
 ['El imperio contraataca', 'El club de las primeras esposas', 'Alien', 'Expediente Warren', 'La purga', 'La chica danesa', 'Indiana Jones']
La entrada cuesta 7 €

### Exercise 1 - For

If you find a way of solving any of these questions below without using for loop, don't hesitate to do it.

1. Prints the numbers between 0 and 70 that are multiples of 3 and 5.

In [23]:
for n in range(71):
    if n%3 == 0 and n%5 == 0:
        print(n)

0
15
30
45
60

2. Print the following pattern:

```python
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [30]:
m = 1
for i in range(9):
    print((i+1)*m)
    m = m*10+1

1
22
333
4444
55555
666666
7777777
88888888
999999999

3. Given to list of same lenght, create a third list which contains the sum of both of the list, element by element.

```python
Example: 
a = [1,2]
b = [4,5]
new_list = [5,7]
```

In [49]:
# Hago el código pensando en escalabilidad, en que se pudiesen meter matrices de misma dimensión, pero n longitud

a = [1,2]
b = [4,5]
new_list = a #asigno una de las matrices cualquiera para que no entre desde vacío y no me de problemas
for posa,vala in enumerate(a):
    for posb,valb in enumerate(b):
        if posa == posb:
            new_list[posb] = (vala + valb)

print(new_list)

1
5
[5, 7]

4. Get first, second best scores from the list.
List contains duplicates.

In [50]:
scores = [86,86,85,85,85,83,23,45,84,1,2,0]

In [68]:
scor = list(set(scores))
scor = list(sorted(scor))
scor = list(reversed(scor))

print(scor[0:3])

[86, 85, 84]

5. From the given list:
    
    a) Create separate lists of strings and numbers.

    b) Sort the strings' list in ascending order

    c) Sort the strings' list in descending order

    d) Sort the number's list from lowest to highest

    e) Sort the number's list from highest to lowest

In [69]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, 
           "Television", 1000, "Laptop Case", "Camera Lens"]

In [85]:

tex = []
num = []

for pos,val in enumerate(gadgets):
    if type(val) == str:
        tex.append(val)
    else:
        num.append(val)

print("a)\nText:\t",tex,"\nNum:\t",num)
tex = sorted(tex)
print("\nb)\nText sorted ascending:\t",tex)
tex.reverse()
print("\nc)\nText sorted descending:\t",tex)
num.sort()
print("\nd)\nNums sorted ascending:\t",num)
num.reverse()
print("\ne)\nNum sorted descending:\t",num)

a)
Text:	 ['Mobile', 'Laptop', 'Camera', 'Speakers', 'Television', 'Laptop Case', 'Camera Lens']
Num:	 [100, 310.28, 27.0, 1000]

b)
Text sorted ascending:	 ['Camera', 'Camera Lens', 'Laptop', 'Laptop Case', 'Mobile', 'Speakers', 'Television']

c)
Text sorted descending:	 ['Television', 'Speakers', 'Mobile', 'Laptop Case', 'Laptop', 'Camera Lens', 'Camera']

d)
Nums sorted ascending:	 [27.0, 100, 310.28, 1000]

e)
Num sorted descending:	 [1000, 310.28, 100, 27.0]

6. Make a list of ten aliens, each of which is one color: 'red', 'green', or 'blue'.
    - You can shorten this to 'r', 'g', and 'b' if you want, but if you choose this option you have to include a comment explaining what r, g, and b stand for.
    - Red aliens are worth 5 points, green aliens are worth 10 points, and blue aliens are worth 20 points.
    - Use a for loop to determine the number of points a player would earn for destroying all of the aliens in your list.

In [98]:
import random
alien = []

#Para hacerlo más gracioso, que se genere una lista aleatoria cada vez
for i in range(10):
    r = random.randint(1,3)
    if r == 1:
        alien.append("red")
    elif r == 2:
        alien.append("green")
    else:
        alien.append("blue")

puntos = 0
for al in alien:
    if al == "red":
        puntos += 5
    elif al == "green":
        puntos += 10
    else:
        puntos += 20

print("Tus alien son:\n",alien)
print("----------------------\nTu total de puntos puede llegar a ser:",puntos)

Tus alien son:
 ['red', 'green', 'blue', 'blue', 'red', 'green', 'red', 'blue', 'blue', 'green']
----------------------
Tu total de puntos puede llegar a ser: 125

### Exercise 2 - Functions

1. Write a function program to sum up two given different numbers.

In [99]:
def mi_sum(a,b):
    print(a+b)

mi_sum(2,3)

5

2. Write a Python program to convert a tuple of characters into a string.

    - Sample tuple: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Expected output : `"THE BRIDGE"`
    
Hint: Turn it into a list.

In [101]:
def conv_tup(tup):
    tup = list(tup)
    stt = ""
    for j in tup:
        stt = stt + j
    return stt

tt = ("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")
t = conv_tup(tt)
print(t)

THE BRIDGE

3. Write a Python program to generate a list where the values are square of numbers between 1 and 30 (both included), and return a list of first and last 5 elements of the list.

In [105]:
def sqr (n):
    return n*n

lista = []
for m in range(30):
    lista.append(sqr(m+1))

print("Lista de resultados:\n",lista[0:4],"\n",lista[-5:-1])

Lista de resultados:
 [1, 4, 9, 16]
 [676, 729, 784, 841]

4. Create a Python program that calculates the factorial of a number.

The program will ask the user to enter a number (input) and will return the factorial of that number.

In [116]:
def factorial(M):
    fac = 1
    for i in range(M+1):
        if i == 0:
            continue
        fac = i*fac
    return fac

num = int(input("introduzca un numero:"))
print ("el factorial de",num,"es:",factorial(num))

el factorial de 6 es: 720

5. Create a program that calculates the average.

The program will ask the user to specify how many numbers you want to enter, and will show a prompt to include number by number to a list, and then calculate the average of each number in that list.

In [118]:
def ave(nums):
    return sum(nums)/len(nums)

siz = int(input("¿cuantos números quiere introducir"))

numeros = []
for j in range(siz):
    numeros.append(float(input())) 
    
print("la media de los números es:",ave(numeros))

la media de los números es: 103.0

# If you made it till here you did a fantastic work!

!["holo"](https://img-9gag-fun.9cache.com/photo/aNg9wMK_460s.jpg)